/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.hero-title {
  font-size: 3.4375em;
  line-height: 82px;
}

.top-menu {
  color: var(--purple);
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 0.04em;
}

.title {
  font-size: 2.5em;
  line-height: 60px;
  margin: 20px 0 10px 0;
}

.subtitle {
  color: hsla(0, 0%, 0%, 0.65);
}

.title-small {
  font-size: 1.125em;
  line-height: 21px;
  margin: 20px 0 10px 0;
}

.center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

/* css variable */
:root {
  --gradient: linear-gradient(135deg, #866cf9 0%, #9884f5 100%);
  --black-primary: #0a0231;
  --black-secondary: rgba(0, 0, 0, 0.65);
  --purple: #856bfa;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-primary);
  font-size: 1em;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.btn {
  padding: 15px 27px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 600;
  color: #fff;
}

.btn-primary {
  background: var(--gradient);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.btn-primary:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.btn-primary.bg-white {
  background: #fff;
  color: var(--purple);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.btn-secondary:hover {
  background-color: #fff;
  color: var(--purple);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.btn-transparent {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 20px;
  color: var(--purple);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.btn-transparent:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.white {
  color: #fff;
}

.section {
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.col-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 100px;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-4 {
  margin-top: 40px;
}

.decor {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.decor.left {
  left: 0;
}

.right {
  right: 0;
  bottom: 0;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 998;
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  column-gap: 50px;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
}

.navbar-right {
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
}

.navbar-right .btn {
  padding: 12px 32px;
}

.nav-menu {
  display: flex;
  column-gap: 40px;
  -moz-column-gap: 40px;
  -webkit-column-gap: 40px;
}

.nav-menu a {
  color: #fff;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: inherit;
}

.dropdown .dropbtn::after {
  content: url("../images/CaretDown.svg");
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--purple);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /* background-color: #ddd; */
  color: rgb(209, 209, 209);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.on-mobo {
  display: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-colored {
  background-color: #51429b;
  box-shadow: 5px -1px 12px -5px grey;
}

.hero {
  background-image: url("../images/bg-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 0 20% 0;
  color: #fff;
  /* min-height: 90vh; */
}

.hero.scnd {
  padding: 10% 0;
}

.hero-wrap {
  text-align: center;
}

.hero-wrap p {
  font-weight: 500;
}

/* Main */

.main {
  position: relative;
  margin-top: -20%;
}

/* Product */

/* Features */
#features,
#fm {
  background-color: hsla(253, 90%, 96%, 0.5);
  padding: 4% 0;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}

.feature {
  background-color: #fff;
  padding: 32px;
  text-align: left;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.icon-box {
  background-color: var(--purple);
  display: inline-flex;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 8px;
}

#features .subtitle,
#chat .subtitle {
  font-weight: 300;
  font-weight: 1em;
}

/* Project Management */

#pm {
  position: relative;
  padding: 4% 0;
}

.img {
  position: absolute;
  right: 0;
  /* top: 0; */
}

.content-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 30px;
}

.icon-box-large {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: #efebfe;
  display: inline-flex;
  padding: 20px;
}

/* Chat */
#chat {
  background-image: url("../images/chat-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0;
  color: #fff;
}

.img.left {
  left: 0;
  top: 10%;
}

.icon-box-large.purp {
  background-color: var(--purple);
}

/* File Manager */
#fm {
  padding: 8% 0;
}

#customize {
  margin-top: 15%;
}

/* Work */

#work {
  background-image: url("../images/bg-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15%;
  padding-bottom: 15%;
}

.img-work {
  position: relative;
  margin-top: -25%;
}

.swiper {
  width: 100%;
  height: auto;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--purple);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: inherit !important;
  color: #fff;
}

.swiper-pagination {
  margin-top: 40px;
  position: static !important;
}

.swiper-pagination-bullet {
  width: 80px !important;
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--purple) !important;
  width: 120px !important;
}

.slider-content {
  display: flex;
  column-gap: 60px;
}

/* .desc {
  width: 50%;
} */

.slider-content .desc::before {
  content: url("../images/quotes.svg");
  display: block;
  margin-bottom: 30px;
}

.name {
  margin: 40px 0 60px 0;
}

.name h2 {
  position: relative;
  margin-bottom: 10px;
}

.name h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  background-color: var(--purple);
  width: 80px;
  height: 1px;
  margin: auto 20px;
}

.all-of-your {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -10%;
  background-color: var(--purple);
  padding: 70px 60px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  position: relative;
}

.aoy-right {
  display: flex;
  column-gap: 20px;
}

/* Help Center */

.search {
  background-color: #fff;
  padding: 15px 24px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  margin: 40px auto;
  column-gap: 10px;
  width: 80%;
}

.search input {
  width: 100%;
  border: none;
}

.search input:focus {
  border: none;
  outline: none;
}

.hc-item {
  background-color: #F7F5FF;
  padding: 50px 29px;
  text-align: center;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.is-hidden {
  display: none !important;
}

.hc-item h2 {
  margin: 10px 0;
}

/* faq */

.accordion-block {
  border-bottom: 1px solid #ededed;
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 20px 28px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
}

.accordion img {
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.accordion.active {
  background-color: #F7F7F7;
}

.accordion.active img {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.panel {
  text-align: left;
  padding: 10px 28px;
  display: none;
  background: #F7F7F7;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* cookies */
.cookies {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 5%;
  width: 70%;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  column-gap: 20px;
  align-items: center;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  place-content: center;
  background-color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.close {
  background: #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: auto;
}

/* Footer */

footer {
  margin-top: 5%;
  padding-bottom: 2%;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  justify-content: space-between;
  gap: 80px;
  /* padding: 40px; */
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.lang {
  display: flex;
  align-items: center;
  color: #565659;
  column-gap: 10px;
  margin-top: 40px;
  font-weight: 300;
}

.footer-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-menu li:first-child {
  margin-bottom: 20px;
}

.footer-menu li {
  margin-bottom: 8px;
}

.footer-menu a {
  color: #000;
  font-weight: 300;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.copyright {
  display: flex;
  column-gap: 20px;
  color: #565659;
}

.copyright a {
  color: #565659;
}

/* Media querry */

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .hero, .hero.scnd {
    padding-top: 20%;
  }

  .hero-title {
    font-size: 2.5em;
    line-height: 60px;
  }

  .title {
    font-size: 1.75em;
    line-height: 44px;
  }

  .row-3 {
    display: flex;
    flex-direction: column;
  }

  .slider-content {
    flex-direction: column;
  }

  .slider-content .desc {
    margin-top: 140px;
  }

  /* .desc {
    width: 100%;
  } */

  .footer-wrap {
    display: flex;
    flex-direction: column;
  }

  .footer-right {
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 40px; */
  }
  .footer-bottom {
    flex-direction: column;
  }

  .socmed {
    margin-top: 40px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 720px;
  }

  .on-mobo {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    padding: 8%;
    flex-direction: column;
    row-gap: 30px;
    background: var(--purple);
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }

  .nav-menu.active {
    left: 0;
    z-index: 999;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-right .btn-secondary,
  .language {
    display: none;
  }
  .col-wrap {
    display: flex;
    flex-direction: column;
  }

  .row-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-of-your {
    justify-content: center;
    text-align: center;
    padding: 40px 25px;
  }

  .aoy-right {
    margin-top: 40px;
  }

  .footer-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .img {
    position: relative;
    margin-right: -3%;
  }

  .img.left {
    margin-left: -3%;
  }
}

@media screen and (max-width: 1390px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .desc {
    width: 50%;
  }
}
